body {
  font-family: 'Muli', sans-serif;
  margin: 0;
}

/**
* Header styles
*/
.header {
  align-items: center;
  background-color: #230A59;
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}

.header__img {
  width: 200px;
  margin-left: 1rem;
}

/**
* Login styles
*/
.login {
  align-items: center;
  background: linear-gradient(#230A59, #3E38F2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 200px);
  padding: 0 2rem;
}

.login__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #ffffff;
  border-radius: 40px;
  display: flex;
  color: #ffffff;
  flex-direction: column;
  justify-content: space-around;
  min-height: 515px;
  padding: 3rem;
  width: 300px;
}

.login__container--form {
  display: flex;
  flex-direction: column;
}

.login__container--form label {
  font-size: 1rem;
}

.login__container--remember-me {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin-top: 0.75rem;
}

.login__container--remember-me a {
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
}

.login__container--remember-me a:hover {
  text-decoration: underline;
}

.login__container--social-media > div {
  align-items: center;
  display: flex;
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

.login__container--social-media > div > img {
  margin-right: 0.75rem;
  width: 30px;
}

.login__container--register {
  font-size: 1rem;
}


.login__container--register a {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
}

.login__container--register a:hover {
  text-decoration: underline;
}

.input {
  background-color: transparent;
  border-bottom: 2px solid #ffffff;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
  height: 50px;
  margin-bottom: 1.5rem;
  outline: none;
  padding: 0px 20px;
}

::placeholder {
  color: #ffffff;
}

.button {
  background: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 25px;
  color:#ffffff;
  cursor: pointer;
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  height: 50px;
  letter-spacing: 1px;
  margin: 0.75rem 0;
}

.footer {
  align-items: center;
  background: #3E38F2;
  display: flex;
  height: 100px;
  width: 100%;
}

.footer a {
  color:#ffffff;
  cursor: pointer;
  font-size: 1rem;
  padding-left: 2rem;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}