<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>
  <link href="https://fonts.googleapis.com/css2?family=Muli:wght@400&display=swap" rel="stylesheet" />
  <link href="../css/404.css" rel="stylesheet" />
</head>
<body>
  <header class="header">
    <img src="../img/logo-platzi-video.png" alt="Platzi video" class="header__img" />
  </header>
  <section class="container-404">
    <h1 class="container-404__title">404</h1>
    <p class="container-404__message">Página no disponible</p>
  </section>
  <footer class="footer">
    <a href="/">Términos de uso</a>
    <a href="/">Declaración de privacidad</a>
    <a href="/">Centro de ayuda</a>
  </footer>
</body>
</html>